# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Build outputs
dist/
build/
.next/
out/
coverage/

# Environment files
.env
.env.*
!.env.example

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
logs
*.log

# Caches
.sass-cache
.cache
.vercel
.netlify
tmp/
.temp/